<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.9.1" xml:lang="en-US">
  <compounddef id="system" kind="page">
    <compoundname>system</compoundname>
    <title>System</title>
    <innerpage refid="_d_o_x__i_a_d_l_x_system">IADLXSystem</innerpage>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
<para>The System domain contains interfaces that provide platform-specific access to entries of other domains. Examples include GPU, Display or GPU Tuning.</para>
<para><itemizedlist>
<listitem><para><ref refid="_d_o_x__i_a_d_l_x_system" kindref="compound">IADLXSystem</ref> </para>
</listitem></itemizedlist>
</para>
    </detaileddescription>
    <location file="D:/AMD_Git/engbranch/drivers/ADLX/docs/Config/ADLXDox.h"/>
  </compounddef>
</doxygen>
